
{
  "presets": ["stage-3","react", "es2015", "env"],
  "env": {
    "development": {
      "plugins": [
        ["transform-async-to-generator"],
        ["transform-class-properties"],
        ["import", { "libraryName": "antd-mobile", "style": "css" }]
      ]
    },
    "production":{
      "plugins": [
        ["add-module-exports"],
        ["transform-async-to-generator"],
        ["transform-class-properties", { "spec": true }],
        ["import", { "libraryName": "antd-mobile", "style": "css" }]
      ]
    }
  }
}
